.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.pt-40 {
  padding-top: 40px;
}

.pe-48 {
  padding-right: 48px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-80 {
  padding-bottom: 80px;
}

.me-88 {
  margin-right: 88px;
}

.p-48 {
  padding: 48px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-74 {
  margin-bottom: 74px;
}

.me-48 {
  margin-right: 48px;
}

.pt-82 {
  padding-top: 82px;
}

.text-gradient {
  background: linear-gradient($primary, $secondary);
  background-clip: text;
  color: transparent;
}

.active-text-gradient {
  &:hover span {
    background: linear-gradient($primary, $secondary);
    background-clip: text;
    color: transparent;
  }
}

.active-border {
  border: solid 1px transparent;
  &:hover {
    border: solid 1px $primary;
    background: $black;
  }
}

.active-border-gradient {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, $gray-700, $gray-700),
    linear-gradient(180deg, $secondary, $primary);
}

.deco-line-left {
  &::after {
    content: "";
    margin-top: 16px;
    display: block;
    width: 50px;
    height: 3px;
    background: $primary;
  }
}

.deco-line-center {
  &::after {
    content: "";
    margin-top: 16px;
    display: block;
    width: 50px;
    height: 3px;
    background: $primary;
    margin: 16px auto;
  }
}

.border-bottom-double {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: linear-gradient(90deg, $primary 50%, $secondary 50%);
  }
}

.btn-linear {
  background: linear-gradient(90deg, $primary, $secondary);
  color: $white;
  &:hover {
    opacity: 0.9;
    color: $white;
  }
}

.opacity-50 {
  opacity: 0.5;
}

.scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

.active-border-angle {
  position: relative;
  &:hover .active-border-box {
    opacity: 1;
  }
}
.active-border-box {
  opacity: 0;
  position: absolute;
  @include size(32px);
}
.active-topLeft-item {
  top: 0;
  left: 0;
  border-top: 2px $primary solid;
  border-left: 2px $primary solid;
  border-top-left-radius: 10px;
}
.active-topRight-item {
  top: 0;
  right: 0;
  border-top: 2px $primary solid;
  border-right: 2px $primary solid;
  border-top-right-radius: 10px;
}

.active-bottomLeft-item {
  bottom: 0;
  left: 0;
  border-bottom: 2px $primary solid;
  border-left: 2px $primary solid;
  border-bottom-left-radius: 10px;
}

.active-bottomRight-item {
  bottom: 0;
  right: 0;
  border-bottom: 2px $primary solid;
  border-right: 2px $primary solid;
  border-bottom-right-radius: 10px;
}

.fs-80 {
  font-size: 5rem;
}

.text-hidden {
  display: -webkit-box;
  // white-space: nowrap;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.start-10 {
  left: 10px;
}

.bottom-10 {
  bottom: 10px;
}

.rounded-topLeft {
  border-top-left-radius: 24px !important;
}

.rounded-end {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

//bootstrap

.btn-outline-white:hover {
  color: $primary;
  border: solid 1px $primary;
  background: transparent;
}

.list-square {
  list-style: none;
  // position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: $primary;
    position: relative;
    margin-right: 8px;
    top: 50%;
    // left: -13px;
    transform: translateY(-50%);
  }
}

.deco-line-near {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 3px;
    height: 26px;
    margin-right: 8px;
    background: $primary;
  }
}

.bg-gradient {
  background: linear-gradient($primary, $secondary) !important;
}

@media screem and (min-width: 576px) {
  .w-md-80 {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .me-lg-48 {
    margin-right: 48px !important;
  }
  .me-lg-88 {
    margin-right: 88px !important;
  }
  .pe-lg-48 {
    padding-right: 48px !important;
  }
  .px-md-48 {
    padding-right: 48px !important;
    padding-left: 48px !important;
  }
  .ms-lg--40 {
    margin-left: -40px;
  }
}
