.banner {
  background: center/cover url(../images/bg_home.jpg);
  height: 680px;
  @media (max-width: 576px) {
    background: center/cover url(../images/bg_home_mobile.jpg);
    height: 336px;
  }
}

.feature {
  &-item {
    height: 615px;
    @include pad {
      height: 300px;
    }
    &:hover {
      span,
      p {
        opacity: 1;
      }
      span {
        color: $primary;
      }
    }
  }
  &-item1 {
    background: linear-gradient(rgba(#1c1c1c, 0.9), rgba(#1c1c1c, 0.9)),
      url(../images/info01.jpg);
    &:hover {
      background: url(../images/info01.jpg);
    }
  }
  &-item2 {
    background: linear-gradient(rgba(#1c1c1c, 0.9), rgba(#1c1c1c, 0.9)),
      url(../images/info02.jpg);
    &:hover {
      background: url(../images/info02.jpg);
    }
  }
  &-item3 {
    background: linear-gradient(rgba(#1c1c1c, 0.9), rgba(#1c1c1c, 0.9)),
      url(../images/info03.jpg);
    &:hover {
      background: url(../images/info03.jpg);
    }
  }
  &-item4 {
    background: linear-gradient(rgba(#1c1c1c, 0.9), rgba(#1c1c1c, 0.9)),
      url(../images/info04.jpg);
    &:hover {
      background: url(../images/info04.jpg);
    }
  }
}

.call {
  background: center/cover url("../images/bg_share.jpg");
  height: 733px;
}

.cube {
  @include size(10px);
  background: #fff;
}

.comment-card {
  margin-bottom: -44px;
  left: -40px;
  @include pad {
    left: 0;
    margin-bottom: 0;
  }
}
.comment-pic {
  right: -20px;
  bottom: 20px;
  @include pad {
    right: 0;
    left: 0;
  }
}
